*.gem
*.rbc
*.log
/.config/
/coverage/
/pkg/
/test/tmp/
/test/version_tmp/
/tmp/
/log/

# documentation
/doc/

# editor
*~
*.swp
*.swo

# environment normalization
/.gem/
/.bundle/
/vendor/bundle/
/lib/bundler/man/
